body {
  padding-left: 0;
  padding-right: 0;
  --heading-font: "Inter", sans-serif;
  --bs-link-color: #333;
  --bs-link-hover-color: #333;
  --bs-link-color-rgb: 40, 40, 40;
  --bs-link-hover-color-rgb: 0, 0, 0;
  --bs-light-rgb: 248, 248, 248;
  --bs-font-sans-serif: "Inter", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #747474;
  --bs-primary: #6BB252;
  --bs-primary-rgb: 107, 178, 82;
  --bs-secondary: #364127;
  --bs-secondary-rgb: 54, 65, 39;
  --bs-danger: #F95F09;
  --bs-danger-rgb: 249, 95, 9;
  --bs-success: #a3be4c;
  --bs-success-rgb: 163, 190, 76;
  --bs-primary-bg-subtle: #FFF9EB;
  --bs-success-bg-subtle: #eef5e5;
  --bs-border-color: #F7F7F7;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--bs-dark);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .container,
  .container-fluid {
    --bs-gutter-x: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.category-carousel .category-title {
  font-weight: 600;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #222222;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .category-carousel .category-item {
    padding: 30px 10px;
  }
  .brand-carousel .brand-item img {
    border-radius: 8px;
  }
  .product-item figure img {
    max-height: 140px;
  }
}

.banner-blocks {
  display: grid;
  grid-template-areas:
    "block1 block1 block1 block1 block1 block1 block2 block2 block2 block2 block2 block2"
    "block1 block1 block1 block1 block1 block1 block3 block3 block3 block3 block3 block3";
  gap: 2rem;
}
.block-1 { grid-area: block1; }
.block-2 { grid-area: block2; }
.block-3 { grid-area: block3; }

@media screen and (max-width: 991px) {
  .banner-blocks {
    grid-template-areas:
      "block1"
      "block2"
      "block3";
  }
}

.product-thumbnail-slider {
  aspect-ratio: 4 / 3;
  height: auto;
}

@media screen and (max-width: 992px) {
  .product-thumbnail-slider {
    margin-top: 20px;
  }
}
